version: "3"
services:
  mongo:
    image: mongo:4.0.3-xenial
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - "$PWD/mongo-entrypoint/:/docker-entrypoint-initdb.d/"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=magazine
      - MONGO_INITDB_ROOT_PASSWORD=magazine
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: pipenv run gunicorn app:app -b 0.0.0.0:5000 -w 5 --chdir /usr/src/app/crawler_magazine --log-level debug
    environment:
      - MONGO_URL=mongodb://magazine:magazine@mongo:27017
    ports:
      - "5000:5000"
    healthcheck:
      test: curl --fail -s http://localhost:5000/health || exit 1
      interval: 60s
      timeout: 10s
      retries: 3
    restart: always
    depends_on:
      - mongo